$black: #000000;
$white: #FFFFFF;
$transparent: transparent;

$green-value: #00ff7f;
$red-value: #FF3333;

$gray100: #D9D9D9;
$gray200: #BFBFBF;
$gray300: #A6A6A6;
$gray400: #8C8C8C;
$gray500: #737373;
$gray600: #595959;
$gray700: #404040;
$gray800: #1F1F1F;
$gray900: #0D0D0D;

$blue100: #B3E5FC;
$blue200: #81D4FA;
$blue300: #4FC3F7;
$blue400: #29B6F6;
$blue500: #03A9F4;
$blue600: #039BE5;
$blue700: #187DE9;
$blue800: #0C56BC;
$blue900: #00308F;
