$black: #000000;
$white: #FFFFFF;

$gray100: #D9D9D9;
$gray200: #BFBFBF;
$gray300: #A6A6A6;
$gray400: #8C8C8C;
$gray500: #737373;
$gray600: #595959;
$gray700: #404040;
$gray800: #262626;
$gray900: #0D0D0D;

$green-value: #07da63;
$red-value: #FF3232;
