/* tables */
$table-font-size: 12px;
$table-cell-icon-size: 15px;

/* charts */
$chart-title-icon-size: 24px;

/* inputs */
$input-small-width: 140px;
$input-small-height: 30px;
$input-small-font-size: 12px;
$input-small-padding: 0 12px;
