$black: #000000;
$white: #FFFFFF;

$basic-red: #E50000;
$basic-green: #198C19;
$basic-blue: #1373E5;
$basic-yellow: #FFD900;

$se-dark100: #1D1D29;
$se-dark300: #111111;
$se-dark500: #0C0C11;
$se-dark700: #0A0A0D;
$se-dark900: #050505;
