<gridster
  class="grid"
  [options]="gridsterOptions"
>
  <gridster-item
    *ngFor="let item of dashboard"
    class="grid-item"
    [item]="item"
    (itemResize)="onResize(item)"
  >
    <mat-card>
      <mat-card-header>
        <button
          disableRipple
          mat-icon-button
          class="icon-button__small"
          [ngClass]="item.dragEnabled ? 'unpinned' : 'pinned'"
          (click)="onPin(item)"
        >
          <mat-icon class="icon">push_pin</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content
        [ngSwitch]="item.id"
        class="card-content"
      >
        <highcharts-chart
          *ngSwitchCase="cards.Chart"
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          [callbackFunction]="chartCallback"
        >
        </highcharts-chart>
        <div
          *ngSwitchCase="cards.PriceTable"
          class="table-container"
        >
          <app-search-input
            placeholder="search coins..."
            size="small"
            [disableSubscript]="true"
            [fullWidth]="true"
            (keyup)="onSearch($event)"
          ></app-search-input>
          <ag-grid-angular
            class="ag-theme-alpine"
            rowSelection="multiple"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [gridOptions]="gridOptions"
            [rowData]="rowData"
            [rowDragEntireRow]="true"
            [rowDragMultiRow]="true"
            [rowDragManaged]="true"
            [animateRows]="true"
            (gridReady)="onTableReady($event)"
            (rowClicked)="onRowClick($event)"
          >
          </ag-grid-angular>
        </div>
        <div
          *ngSwitchCase="cards.Summary"
          class="summary-container"
        >
          <div
            *ngIf="selected$ | async as coin"
            class="summary-header"
          >
            <img
              [src]="coin.image"
              [alt]="coin.name"
            />
            <h2>
              {{ coin.name }}
              <span
                [ngClass]="{
                  'value-positive': coin.priceChangePercentage24h > 0,
                  'value-negative': coin.priceChangePercentage24h < 0,
                  'value-neutral': coin.priceChangePercentage24h === 0
                }"
              >
                {{ coin.priceChangePercentage24h | number: '1.2-2' }}%
              </span>
            </h2>
          </div>
          <mat-divider></mat-divider>
          <mat-list role="list">
            <mat-list-item
              *ngFor="let stat of coinStats | keyvalue"
              role="listitem"
            >
              <span class="stat-name">{{ stat.key | text | translate | titlecase }}</span>
              <span class="stat-value">{{ stat.value }}</span>
            </mat-list-item>
          </mat-list>
        </div>
        <div *ngSwitchCase="cards.Options">
          <app-lang-picker></app-lang-picker>
        </div>
      </mat-card-content>
    </mat-card>  
  </gridster-item>
</gridster>
