<gridster
  class="grid"
  [options]="options"
>
  <gridster-item
    *ngFor="let item of dashboard"
    class="card"
    [item]="item"
    [ngSwitch]="item.id"
  >
    <div
      *ngSwitchCase="cards.PriceTable"
      class="price-card"
    >
      <ag-grid-angular
        class="ag-theme-alpine"
        rowSelection="multiple"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [gridOptions]="gridOptions"
        [rowData]="rowData"
        [rowDragEntireRow]="true"
        [rowDragMultiRow]="true"
        [rowDragManaged]="true"
        [animateRows]="true"
        (gridReady)="onPriceTableReady($event)"
      >
      </ag-grid-angular>
    </div>
    <div *ngSwitchDefault>
      {{ item.id }}
    </div>
  </gridster-item>
</gridster>
