@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../../../ui-core/styles/button.scss';

$tile-header-height: 20px;

.grid {
  background-color: $gray900;
}

.grid-item {
  background-color: $gray800;
  padding: 15px;
  cursor: grab;
}

.pinned {
  color: $blue700;
}

.unpinned {
  color: $gray700;
}

mat-card {
  @include full-size;
  background-color: $gray800;
  border-radius: 0;
  box-shadow: none;
}

mat-card-header {
  @include content-center(flex-end);
  height: 20px;
  padding: 0;
}

mat-card-content {
  @include full-size;
  padding: 0;
}
