@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.grid {
  background-color: $gray900;
}

.grid-item {
  background-color: $gray800;
  padding: 15px;
}

.card {
  @include full-size;
}
