@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../../../ui-core/styles/button.scss';

$tile-header-height: 20px;

.grid {
  background-color: $gray900;
}

.grid-item {
  background-color: $gray800;
  padding: 15px;
}

.tile {
  @include full-size;
  border: 1px solid red;
}

.tile-header {
  @include content-center(flex-end);
  width: 100%;
  height: 20px;
}

.tile-content {
  width: 100%;
  height: calc(100% - $tile-header-height);
}

.pin-button {
  color: $gray700;

  &:hover {
    color: $blue700;
  }
}
