@import '~normalize.css';
@import '~ag-grid-community/styles/ag-grid.css';
@import '~ag-grid-community/styles/ag-theme-alpine.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import './styles/colors.scss';
@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/material.scss';

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* region ag-grid */
ag-grid-angular {
  width: 100%;
  height: 100%;
}

.ag-theme-alpine {
  --ag-header-foreground-color: #{$gray200};
  --ag-header-background-color: #{$gray800};
  --ag-background-color: #{$gray800};
  --ag-font-size: #{$table-font-size};
  --ag-selected-row-background-color: #{$blue800};

  .ag-root-wrapper {
    border: none;
  }

  .ag-header,
  .ag-row {
    border-bottom: 1px solid $gray700;
  }

  .ag-row {
    background-color: $gray800;
  }

  .ag-cell {
    color: $white;
    font-weight: 500;
  }
}

.ag-cell-focus {
  border: 1px solid $transparent !important;
}

.value-positive {
  color: $green-value !important;
}

.value-negative {
  color: $red-value !important;
}

.value-neutral {
  color: $white !important;
}

.cell__value-image {
  @include content-center();

  img {
    width: $table-cell-icon-size;
    height: $table-cell-icon-size
  }
}
/* endregion ag-grid */


/* highcharts */
highcharts-chart {
  display: block;
  width: 100%;
  height: 100%;
}

.chart__title {
  @include content-center();

  img {
    width: $chart-title-icon-size;
    height: $chart-title-icon-size;
  }
}

.highcharts-menu {
  box-shadow: none !important;
  padding: 0 !important;
}
/* endregion highcharts */


/* region gridster */
gridster .gridster-column {
  border-color: $gray800 !important;
}

gridster .gridster-row {
  border-color: $gray800 !important;
}

.gridster-item-resizable-handler.handle-n,
.gridster-item-resizable-handler.handle-s {
  height: 5px !important;
}

.gridster-item-resizable-handler.handle-w,
.gridster-item-resizable-handler.handle-e {
  width: 5px !important;
}

.card-content {
  cursor: default;
}
/* endregion gridster */


/* #region scroll bars */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: $gray800;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-color: $gray500;
}
/* #endregion scroll bars */


/* #region form fields */
mat-option,
mat-select-trigger,
.mat-mdc-select-arrow,
.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: $white !important;
}

mat-option {
  background-color: $gray600 !important;

  &:hover {
    background-color: $gray500 !important;
  }
}

mat-pseudo-checkbox {
  display: none !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  background-color: $gray700 !important;
}

.mdc-list-item.mdc-list-item--selected {
  background-color: $blue700 !important;
}

.mdc-line-ripple::before {
  border-bottom-width: 0 !important;
}

.mdc-menu-surface {
  border-radius: 0 !important;
}
/* #endregion form fields */
