@import '~normalize.css';
@import '~ag-grid-community/styles/ag-grid.css';
@import '~ag-grid-community/styles/ag-theme-alpine.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './styles/colors.scss';
@import './styles/variables.scss';
@import './styles/mixins.scss';

html, body {
  height: 100%;
}

/* region ag-grid */
ag-grid-angular {
  width: 100%;
  height: 100%;
}

.ag-theme-alpine {
  --ag-header-foreground-color: #{$gray100};
  --ag-header-background-color: #{$gray800};
  --ag-background-color: #{$gray800};
  --ag-font-size: #{$table-font-size};
  --ag-selected-row-background-color: #{$blue800};

  .ag-root-wrapper {
    border: none;
  }

  .ag-header,
  .ag-row {
    border-bottom: 1px solid $gray700;
  }

  .ag-row {
    background-color: $gray800;
  }

  .ag-cell {
    color: $white;
    font-weight: 500;
  }
}

.ag-cell-focus {
  border: 1px solid transparent !important;
}

.cell__value-positive {
  color: $green-value !important;
}

.cell__value-negative {
  color: $red-value !important;
}

.cell__value-image {
  @include content-center-start(8px);

  img {
    width: $table-cell-icon-size;
    height: $table-cell-icon-size
  }
}
/* endregion ag-grid */

/* highcharts */
highcharts-chart {
  display: block;
  width: 100%;
  height: 100%;
}

.chart__title {
  @include content-center-start(8px);

  img {
    width: $chart-title-icon-size;
    height: $chart-title-icon-size;
  }
}
/* endregion highcharts */

/* region gridster */
gridster .gridster-column {
  border-color: $gray800 !important;
}
gridster .gridster-row {
  border-color: $gray800 !important;
}
/* endregion gridster */

/* #region scroll bars */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $gray800;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-color: $gray500;
}
/* #endregion scroll bars */
