<mat-form-field
  appearance="fill"
  subscriptSizing="dynamic"
>
  <mat-select
    [(value)]="selectedLang"
    (selectionChange)="onSelectionChange($event)"
  >
    <mat-select-trigger>
      <span [className]="'fi fi-' + selectedLang.flagCode"></span>
      {{ selectedLang.nativeName }}
    </mat-select-trigger>
    <mat-option
      *ngFor="let option of langOptions"
      [value]="option"
    >
      <span [className]="'fi fi-' + option.flagCode"></span>
      {{ option.nativeName }}
    </mat-option>
  </mat-select>
</mat-form-field>
