<mat-form-field
  appearance="fill"
  subscriptSizing="dynamic"
>
  <mat-select [(value)]="selectedLang">
    <mat-select-trigger>
      <span [className]="'fi fi-' + selectedLang.code"></span>
      {{ selectedLang.nativeName }}
    </mat-select-trigger>
    <mat-option
      *ngFor="let option of langOptions"
      [value]="option"
      (onSelectionChange)="onLangChange(option)"
    >
      <span [className]="'fi fi-' + option.code"></span>
      {{ option.nativeName }}
    </mat-option>
  </mat-select>
</mat-form-field>
